[package]
name = "newsletter"
version = "0.1.0"
edition = "2024"

[lib]
path = "src/lib.rs"

[[bin]]
path = "src/main.rs"
name = "newsletter"

[dependencies]
actix-web = "4.11.0"
tokio = { version = "1.35", features = ["full"] }

[dev-dependencies]
reqwest = "0.12.22"
