# First create Fly managed Postgres, then set credentials of it as secrets for you app, providing list of necessary
# secrets for you convinience:
# APP_DATABASE__DATABASE_NAME, APP_DATABASE__HOST, APP_DATABASE__PASSWORD, APP_DATABASE__USERNAME.
# For details on what you can set in this file please see https://fly.io/docs/reference/configuration/
# Run `fly lanch` to have it deployed, app value will change to something like `app = 'newsletter-crimson-haze-3386'`

app = 'newsletter'
primary_region = 'fra'

[build]
  dockerfile = 'Dockerfile'

[deploy]
  strategy = 'canary'

[env]
  APP_DATABASE__PORT = "5432"
  APP_DATABASE__REQUIRE_SSL = "true"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    interval = '10s'
    timeout = '2s'
    grace_period = '5s'
    method = 'get'
    path = '/health_check'
    protocol = 'http'

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
